@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (widgets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var widget in widgets)
            {
                <tr>
                    <td>@widget.Name</td>
                    <td>@widget.Colour</td>
                    <td>@widget.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Widget[] widgets;

    protected override async Task OnInitializedAsync()
    {
        widgets = await Http.GetFromJsonAsync<Widget[]>("https://serverlesscrudcsharpbackenddev.azurewebsites.net/api/widgets");
    }
}
